.quienes__descripcion{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

@media screen and (min-width:0px) {
    .quienes__descripcion{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:678px) {
    .quienes__descripcion{
        font-size: 1.75rem;
    }
}